header h1 a {
    color: #0d6efd;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
}

header {
    /* margin: 1rem 10rem; */

    display: flex;

    justify-content: space-between;
}

header .menu_boots{
    /* width: 100%; */
    /* display: block; */
    
}

.navbar-expand-lg .navbar-collapse{
    justify-content: right;
    background-color: #171717;

    border: 0;
    border-radius: 16px;

    padding: 5px 10px;

}

.navbar-expand-lg .navbar-nav .nav-link{
    color: white  !important;

}

.dropdown-toggle::after{
    display: none;
}

p {
    color: #212529;
    font-weight: 500;
}

textarea.form-control:focus {
    border-color: #10101044;
    box-shadow: none;
}

/* frase */
.card-copiado {
  border-color: #28a745 !important; /* verde, exemplo */
  box-shadow: 0 0 8px #28a745;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* palavra */
.card {
  transition: border 0.3s, box-shadow 0.3s;
  border: 2px solid #ccc;
}
.card-copiado {
  border-color: #28a745 !important;
  box-shadow: 0 0 10px #28a745;
}


#response {
    margin: 1rem 0 0 0 !important;

}

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* height: 100vh; */
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 250px; */
    /* width: 250px; */

    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 10px 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

aside span{
    position: absolute;
    z-index: 999;
    bottom: 50px;
    font-size: 14px;
    color: gray;
    text-align: center;
    font-style: italic;
}

aside ul li a button{
    margin: 0.5rem 0;
    font-size: 0.9rem !important;
    white-space: nowrap;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    margin-bottom: 20px;
}

.form-floating {
    margin-bottom: 20px;
}

.btn-controls button {
    margin: 0.5rem 3px 0 0;
}

.sobre {
    /* margin-left: 250px; */
    /* padding: 20px; */
    width: calc(100% - 250px);
    max-width: 60%;
    margin-top: 2rem;
}

@media (max-width:1024px){
    .sobre {
        margin-left: 10px  !important;
        width: calc(100% - 0px) !important;

        max-width: 90%;
    }
}
