header h1 a {
    color: #0d6efd;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
}

header {
    /* margin: 1rem 10rem; */
}


p {
    color: #212529;
    font-weight: 500;
}

textarea.form-control:focus {
    border-color: #10101044;
    box-shadow: none;
}

#response {
    margin: 1rem 0 0 0 !important;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

aside ul li a button{
    margin: 0.5rem 0;
    font-size: 0.9rem !important;
    white-space: nowrap;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    margin-bottom: 20px;
}

.form-floating {
    margin-bottom: 20px;
}

.btn-controls button {
    margin: 0.5rem 3px 0 0;
}